*{
  box-sizing: border-box;
}

.center-pantalla{
  position: relative;
  top: 45%;
}

.center , .center-v, .list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-v{
  flex-direction: column;
}

.list{
  justify-content: flex-start;
}
.characteristics{
  width: 100%;
}

.list-group-item>.badge {
  float: left;
}

.border-2{
  display: inline-block;
  padding: 1rem;
  border-right-style: double;
  border-color: red;
  margin-right: 7px;
}

.list-group-item{
  padding: 0;
}


@media {
  .container-fluid{
    width: 100%;
    height: 99vh;
  }
  .Neat {
    width: 12rem;
    margin: auto;
  }

  .text-white{
    color: #fff;
  }

  .btn-home{
    border-radius: 50px;
    padding: 10px 56px;
    font-size: 19px;
  }


  /*
  h3{
  font-size: 1.7rem;
}
}


@media (min-width: 768px){
h3{
font-size: 2.8rem;
}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
*/
.icons{
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.icon-tam{
    width: 175px;
    height: 175px;
    /*background-size: contain;*/
}
.color-icon{
  border-radius: 50%;
  background-color: #FFCC66;
  height: 225px;
  margin: 0 auto 20px;
  position: relative;
  width: 225px;
}
Manual de Marca:

Verde : #6EA43F brand-success
Azul para secciones y texto : #3498DB brand-info
Azul círculo redes sociales y hover de botones : #1280c9 brand-primary
gris : #494949.... gris
Amarillo circulos : #FFCC66 gray-light
Blanco : #FFF gray-lighter
promo bar red : #ED7161 marca de peligro
k2nblog.com
