@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

header{
  .center-block();
}

header{
  background-color: #9accef;
}

.home{
margin-top: 7rem;
  color: #fff;
  text-align: center;
}

.btn-home{
  border-radius: 50px;
    padding: 10px 56px;
    font-size: 19px;
}

@media {

  .container {
    width: 100%;
    height: 99vh;
  }
  .Neat {
    width: 12rem;
    margin: auto;
  }

  h3{
    font-size: 1.7rem;
  }
 }


@media (min-width: 768px){
  h3{
    font-size: 2.8rem;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .hidden-xs{
    font-size: 6rem;
  }
}

span{
  display: block;
  width: 30%;
  height: 30%;
}
